.duration, .header__menu .menu-item:after, .header__contacts-list .item a, .header__cart, .products-list .item a, section.header-home-slider .slick-arrow, section.header-home-slider .slick-dots button, .btn, .tabs__aside .ui-tabs-tab, .tabs__aside .ui-tabs-tab .fas, .items-wrapper .item .img, .items-wrapper .item .text, .aside__menu .menu-item a, .woocommerce button.button.alt {
  -webkit-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
}

body {
  color: #4a504f;
  font-family: "Open Sans", sans-serif;
  min-width: 320px;
}
@media (min-width: 768px) {
  body:not(.home) .header-nav {
    margin-bottom: 25px;
  }
}

.container,
.woocommerce .woocommerce-breadcrumb {
  padding: 0 20px;
  margin: 0 auto;
  width: 1200px;
}

.woocommerce .woocommerce-breadcrumb {
  margin-bottom: 20px;
}

section {
  margin-bottom: 40px;
}

.text p {
  margin-bottom: 10px;
}
.text a {
  text-decoration: underline;
}
.text a:hover {
  text-decoration: none;
}
.text ul {
  padding-left: 25px;
}

.text-center {
  text-align: center;
}

.logo img {
  height: 60px;
  width: auto;
}

.header-top {
  padding: 25px 0;
}
.header-top .item-right {
  padding-right: 20px;
}

.header__menu, .menu-menu-container {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container {
  height: 100%;
}

.header__menu .menu-item {
  height: 100%;
  position: relative;
}
.header__menu .menu-item:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
}
.header__menu .menu-item:hover:after, .header__menu .menu-item.current-menu-item:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.header__menu .menu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header__contacts-list .fas, .header__contacts-list .far {
  color: #FF8800;
  width: 20px;
  text-align: center;
}
.header__contacts-list .item {
  margin-right: 20px;
}
.header__contacts-list .item a {
  color: #4a504f;
  margin: 0 auto;
}
.header__contacts-list .item a:hover {
  color: #FF8800;
}

.header-nav {
  height: 60px;
  background: #1FA9E6;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language {
  margin-right: 20px;
}
.language.btn {
  font-size: 12px;
  padding: 2px;
  border-radius: 3px;
  font-weight: 700;
}

.cart-wrapper {
  position: relative;
}
.cart-wrapper .cart__sum {
  position: absolute;
  top: -5px;
  right: -15px;
  font-size: 10px;
  height: 16px;
  width: 16px;
  border: 1px solid #FF8800;
  border-radius: 50%;
  text-align: center;
}

.header__cart {
  font-size: 24px;
  color: #4a504f;
}
.header__cart:hover, .header__cart.active {
  color: #FF8800;
}

.title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.title.medium {
  font-size: 18px;
  text-transform: none;
}

.products-list .item {
  width: 24%;
}
.products-list .item a {
  color: #4a504f;
  display: block;
  text-align: center;
}
.products-list .item a:hover {
  color: #1FA9E6;
}
.products-list .item img {
  max-width: 100%;
}

section.header-home-slider {
  margin-bottom: 60px;
}
section.header-home-slider .slick-slide img {
  width: 100%;
}
section.header-home-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
}
section.header-home-slider .slick-arrow:hover {
  color: #1FA9E6;
}
section.header-home-slider .slick-arrow.fa-angle-left {
  left: 40px;
}
section.header-home-slider .slick-arrow.fa-angle-right {
  right: 40px;
}
section.header-home-slider .slick-dots {
  left: 0;
  right: 0;
  bottom: -30px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
section.header-home-slider .slick-dots button {
  text-indent: -9999px;
  border: 1px solid #9a9a9a;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: block;
  background: #fff;
  padding: 0;
}
section.header-home-slider .slick-dots li {
  margin: 0 3px;
}
section.header-home-slider .slick-dots li.slick-active button {
  background-color: #1FA9E6;
}

.btn {
  background: #FF8800;
  border: 2px solid #FF8800;
  color: #fff;
  cursor: pointer;
  padding: 10px 40px;
  font-size: 24px;
  font-weight: 500;
}
.btn .fas {
  margin-left: 10px;
}
.btn:hover {
  color: #FF8800;
  background: #fff;
}

.selection__btn:hover .fas {
  -webkit-animation: rotate linear 3s infinite;
          animation: rotate linear 3s infinite;
}

.about p:not(:last-of-type) {
  margin-bottom: 10px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.underline {
  padding-bottom: 5px;
  position: relative;
}
.underline:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
  height: 4px;
  width: 50px;
  background-color: #FF8800;
}

footer {
  background: #4a504f;
  color: #fff;
  padding: 30px 0;
}
footer .copyright {
  font-size: 12px;
}
footer .logo {
  margin-right: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
footer .footer-nav {
  width: 100%;
}

.footer__nav-wrap {
  margin-bottom: 20px;
}

.hidden {
  overflow: hidden;
}

.mobile {
  display: none;
}

.text-info {
  text-align: center;
  margin-bottom: 20px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.tabs__aside {
  width: 335px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
  padding: 20px;
  margin: 0 30px 0 0;
}
.tabs__aside ul {
  list-style: none;
}
.tabs__aside .ui-tabs-tab {
  color: #4a504f;
}
.tabs__aside .ui-tabs-tab:not(:last-of-type) {
  border-bottom: 1px solid #dadada;
}
.tabs__aside .ui-tabs-tab .fas {
  color: #1FA9E6;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.tabs__aside .ui-tabs-tab .ui-tabs-anchor {
  display: block;
  padding: 15px 0;
}
.tabs__aside .ui-tabs-tab.ui-tabs-active {
  color: #1FA9E6;
}
.tabs__aside .ui-tabs-tab.ui-tabs-active .category-links li {
  color: #4a504f;
}
.tabs__aside .ui-tabs-tab.ui-tabs-active .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.tabs__aside .ui-tabs-tab:hover .fas {
  color: #FF8800;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.tabs__aside .ui-tabs-tab .category-links {
  font-size: 15px;
  padding-left: 20px;
  margin-bottom: 30px;
}
.tabs__aside .ui-tabs-tab .category-links li {
  margin: 10px 0;
}
.tabs__aside .ui-tabs-tab .category-links li:hover {
  color: #1FA9E6;
}
.tabs__aside .title {
  text-align: left;
}
.tabs__aside .title .fas {
  color: #FF8800;
}

.contacts__header {
  margin-bottom: 30px;
}

.contacts .item {
  width: 50%;
}
.contacts .item.map {
  height: 400px;
}
.contacts .contacts__list {
  line-height: 2;
}

.items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2%;
  width: 100%;
}
.items-wrapper .item {
  width: 31.3%;
  margin: 0 0 2% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.items-wrapper .item .img {
  border: 1px solid #dadada;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0);
  width: 100%;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.items-wrapper .item .img img {
  max-height: 100%;
}
.items-wrapper .item .text {
  color: grey;
  padding: 5px 5px 10px;
  text-align: center;
}
.items-wrapper .item:hover .img {
  border-color: #1FA9E6;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}
.items-wrapper .item:hover .text {
  color: #1FA9E6;
}

.product .img {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product .text {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.product-wrapper {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-wrapper .custom-select {
  padding: 10px;
  margin-bottom: 20px;
  width: 362px;
}
.product-wrapper .btn {
  margin-bottom: 30px;
}
.product-wrapper .more {
  color: #1FA9E6;
  text-decoration: underline;
}
.product-wrapper .more:hover {
  text-decoration: none;
}

.aside__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
}
.aside__menu .menu-item:not(:last-of-type) {
  border-bottom: 1px solid #dadada;
}
.aside__menu .menu-item a {
  display: block;
  padding: 10px 0;
}
.aside__menu .menu-item a:hover {
  color: #1FA9E6;
}
.aside__menu .menu-item a:hover:after {
  color: #FF8800;
}
.aside__menu .sub-menu {
  padding-left: 20px;
  font-size: 14px;
}
.aside__menu .sub-menu .menu-item {
  border-bottom: none;
}

.products-other-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 140px;
  overflow: hidden;
  background: #ececec;
  padding: 20px;
}

.orderby,
#pa_vyberite-obem {
  border: 1px solid #dadada;
  padding: 5px;
  cursor: pointer;
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
  float: none;
  width: 1200px;
  margin: 0 auto 25px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.woocommerce div.product p.price {
  margin-bottom: 10px;
}

.woocommerce-variation-price {
  margin-bottom: 5px;
}

.woocommerce-variation-add-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.woocommerce-variation-availability {
  margin-bottom: 10px;
}

.woocommerce .quantity .qty {
  margin: 0 10px 0 0;
  font-size: 16px;
  border: 1px solid #dadada;
  padding: 5px;
  height: 100%;
}

.woocommerce table.shop_attributes th {
  width: 170px;
}

.woocommerce button.button.alt {
  background: #FF8800;
  border: 2px solid #FF8800;
}
.woocommerce button.button.alt.disabled {
  background: rgba(31, 169, 230, 0.8);
  border-color: rgba(31, 169, 230, 0.8);
}
.woocommerce button.button.alt:hover {
  background: rgba(255, 136, 0, 0);
  color: #FF8800;
}
.woocommerce button.button.alt:hover.disabled {
  background: rgba(255, 136, 0, 0);
  color: #1FA9E6;
}

.woocommerce-message {
  width: 1160px;
  margin: 0 auto 20px;
}

.button.wc-forward {
  margin-left: 20px;
}

@media (max-width: 1199px) {
  .container,
  .woocommerce .woocommerce-breadcrumb,
  .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering,
  .woocommerce-message {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .header__contacts-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__contacts-list .item:first-of-type {
    margin-bottom: 5px;
  }

  .title.medium {
    font-size: 14px;
  }

  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs .ui-tabs-panel .title {
    font-size: 26px;
  }
  .tabs .title:not(.medium) {
    font-size: 30px;
  }
  .tabs .title.medium {
    font-size: 20px;
  }
  .tabs .title .fas {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .tabs .tabs__aside {
    width: 100%;
    margin: 0 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #f3f3f3;
    padding: 0 0 10px;
  }
  .tabs .tabs__aside .ui-tabs-tab {
    font-weight: 600;
    margin: 0;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tabs .tabs__aside .ui-tabs-tab:not(:last-of-type) {
    border-bottom: none;
    margin-right: 20px;
  }
  .tabs .tabs__aside .ui-tabs-tab .fas {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .tabs .tabs__aside .ui-tabs-tab.ui-tabs-active .fas {
    color: #FF8800;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .tabs .tabs__aside .ui-tabs-tab:hover .fas {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .tabs .tabs__aside .title.medium {
    font-size: 30px;
  }

  .ui-tabs-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  footer .logo {
    margin-right: 40px;
  }
  footer .logo img {
    height: 30px;
  }

  .product-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .nav-icon {
    width: 40px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 100;
  }
  .nav-icon:after {
    content: '';
    position: fixed;
    height: 100vh;
    width: 00vw;
    left: -22px;
    top: -22px;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
  }
  .nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #4a504f;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .nav-icon span:nth-child(1) {
    top: 0;
  }
  .nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
    top: 12px;
  }
  .nav-icon span:nth-child(4) {
    top: 24px;
  }
  .nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .nav-icon.open:after {
    visibility: visible;
    opacity: 1;
  }

  .cart-wrapper {
    margin-right: 40px;
  }

  .logo {
    position: relative;
    z-index: 10;
  }

  .header-top .item-right {
    padding-right: 0;
  }

  .menu-container, .menu-menu-container {
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }

  .header-nav {
    position: fixed;
    height: 100vh;
    width: calc(100vw - 80px);
    background: #fff;
    top: 0;
    left: -100vw;
    -webkit-transition: all .2s;
    transition: all .2s;
    z-index: 9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 140px 20px 20px;
    font-size: 18px;
  }
  .header-nav.open {
    left: 0;
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #4a504f;
    margin-bottom: 20px;
    padding: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__menu .menu-item {
    margin-bottom: 6px;
  }

  .header__contacts-list {
    margin-bottom: 20px;
  }
  .header__contacts-list .item:first-of-type {
    margin-bottom: 10px;
  }

  .close-menu {
    display: none;
    position: fixed;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .close-menu.open {
    display: block;
    z-index: 8;
    opacity: 1;
  }

  .footer__nav-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav-wrap .logo {
    margin: 0;
  }

  .products-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -2%;
  }
  .products-list .item {
    margin-right: 2%;
    width: 48%;
  }

  section.header-home-slider .slick-arrow.fa-angle-left {
    left: 20px;
  }
  section.header-home-slider .slick-arrow.fa-angle-right {
    right: 20px;
  }

  footer .logo img {
    height: 45px;
  }

  .single__menu {
    display: none;
  }

  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts .item {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .contacts__header {
    text-align: center;
  }
}
@media (max-width: 639px) {
  .logo img {
    height: 50px;
  }

  .tabs .tabs__aside ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs .tabs__aside ul .ui-tabs-tab {
    margin: 0 0 15px;
  }
  .tabs .title:not(.medium) {
    font-size: 24px;
  }
  .tabs .title.medium {
    font-size: 16px;
  }

  .woocommerce-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .woocommerce-message .button.wc-forward {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 210px;
    margin-top: 10px;
  }
}
@media (max-width: 479px) {
  .title, .btn {
    font-size: 18px;
  }

  .header-home-slider {
    display: none;
  }

  .cart-wrapper {
    margin-right: 30px;
  }

  .logo img {
    height: 45px;
  }

  .product-wrapper .custom-select {
    width: 296px;
  }

  .woocommerce div.product form.cart .variations td {
    position: relative;
    vertical-align: middle;
    line-height: 1;
  }

  a.reset_variations {
    position: absolute;
    right: 0;
    bottom: -20px;
  }

  #pa_vyberite-obem {
    margin: 0;
  }

  .woocommerce div.product form.cart .variations {
    padding-bottom: 5px;
  }
}
@media (max-width: 400px) {
  .products-list {
    margin: 0;
  }
  .products-list .item {
    margin: 0 0 20px;
    width: 100%;
  }

  .header-nav {
    width: 100%;
  }

  .logo img {
    height: 30px;
  }

  .product-wrapper .custom-select {
    width: 256px;
  }

  .product-wrapper .btn {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */