
$blue: #1FA9E6;
$orange: #FF8800;
$black: #4a504f;
$grey: #9a9a9a;
$light-grey: #dadada;

.duration {
  transition: all .2s linear 0s;
}
body {
  color: $black;
  font: {
    family: "Open Sans", sans-serif;
  }
  min-width: 320px;
  &:not(.home) {
    @media (min-width: 768px) {
      .header-nav {
        margin-bottom: 30px;
      }
    }
  }
}
.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 1200px;
}
section {
  margin-bottom: 40px;
}
.text {
  p {
    margin-bottom: 10px;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.text-center {
  text-align: center;
}
.logo {
  img {
    height: 60px;
    width: auto;
  }
}
.header-top {
  padding: 25px 0;
  .item-right {
    padding-right: 20px;
  }
}
.header__menu, .menu-menu-container {
  height: 100%;
  align-items: center;
}
.menu-container {
  height: 100%;
}
.header__menu {
  .menu-item {
    height: 100%;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      transform: scaleX(0);
      @extend .duration;
      height: 3px;
    }
    &:hover, &.current-menu-item {
      &:after {
        transform: scaleX(1);
      }
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}
.header__contacts-list {
  .fas, .far {
    color: $orange;
    width: 20px;
    text-align: center;
  }
  .item {
    margin-right: 20px;
    a {
      color: $black;
      @extend .duration;
      &:hover {
        color: $orange;
      }
      &:before {}
      margin: 0 auto;
    }
  }
}
.header-nav {
  height: 60px;
  background: $blue;
  color: #fff;
  display: flex;
  align-items: center;
}
.language {
  margin-right: 20px;
  &.btn {
    font-size: 12px;
    padding: 2px;
    border-radius: 3px;
    font-weight: 700;
  }
}
.cart-wrapper {
  position: relative;
  .cart__sum {
    position: absolute;
    top: -5px;
    right: -15px;
    font-size: 10px;
    height: 16px;
    width: 16px;
    border: 1px solid $orange;
    border-radius: 50%;
    text-align: center;
  }
}
.cart {
  font-size: 24px;
  color: $black;
  @extend .duration;
  &:hover, &.active {
    color: $orange;
  }
}
.title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font: {
    size: 28px;
    weight: 600;
  }
  text-transform: uppercase;
  &.medium {
    font-size: 18px;
    text-transform: none;
  }
}
.products-list {
  .item {
    width: 24%;
    a {
      color: $black;
      @extend .duration;
      display: block;
      text-align: center;
      &:hover {
        color: $blue;
      }
    }
    img {
      max-width: 100%;
    }
  }
}
section.header-home-slider {
  margin-bottom: 60px;
  .slick-slide img {
    width: 100%;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: rgba(#000, .2);
    border: none;
    color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    @extend .duration;
    &:hover {
      color: $blue;
    }
    &.fa-angle-left {
      left: 40px;
    }
    &.fa-angle-right {
      right: 40px;
    }
  }
  .slick-dots {
    left: 0;
    right: 0;
    bottom: -30px;
    position: absolute;
    display: flex;
    justify-content: center;
    list-style: none;
    button {
      @extend .duration;
      text-indent: -9999px;
      border: 1px solid $grey;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      display: block;
      background: #fff;
      padding: 0;
    }
    li {
      margin: 0 3px;
      &.slick-active {
        button {
          background-color: $blue;
        }
      }
    }
  }
}
.btn {
  background: $orange;
  border: 2px solid $orange;
  color: #fff;
  cursor: pointer;
  padding: 10px 40px;
  font: {
    size: 24px;
    weight: 500;
  }
  .fas {
    margin-left: 10px;
  }
  @extend .duration;
  &:hover {
    color: $orange;
    background: #fff;
  }
}
.selection__btn {
  &:hover {
    .fas {
      animation: rotate linear 3s infinite;
    }
  }
}
.about {
  p {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.underline {
  padding-bottom: 5px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    height: 4px;
    width: 50px;
    background-color: $orange;
  }
}
footer {
  background: $black;
  color: #fff;
  padding: 30px 0;
  .copyright {
    font-size: 12px;
  }
  .logo {
    margin-right: 100px;
    flex-shrink: 0;
  }
  .footer-nav {
    width: 100%;
  }
}
.footer__nav-wrap {
  margin-bottom: 20px;
}
.hidden {
  overflow: hidden;
}
.mobile {
  display: none;
}
.text-info {
  text-align: center;
  margin-bottom: 20px;
}
.tabs {
  display: flex;
  margin-bottom: 30px;
}
.tabs__aside {
  width: 335px;
  flex-shrink: 0;
  list-style: none;
  padding: 20px;
  margin: 0 30px 0 0;
  ul {
    list-style: none;
  }
  .ui-tabs-tab {
    color: $black;
    @extend .duration;
    &:not(:last-of-type){
      border-bottom: 1px solid $light-grey;
    }
    .fas {
      color: $blue;
      @extend .duration;
      transform: rotate(90deg);
    }
    .ui-tabs-anchor {
      display: block;
      padding: 15px 0;
    }
    &.ui-tabs-active {
      color: $blue;
      .category-links {
        li {
          color: $black;
        }
      }
      .fas {
        transform: rotate(0deg);
      }
    }
    &:hover {
      .fas {
        color: $orange;
        transform: rotate(0deg);
      }
    }
    .category-links {
      font-size: 15px;
      padding-left: 20px;
      margin-bottom: 30px;
      li {
        margin: 10px 0;
        &:hover {
          color: $blue;
        }
      }
    }
  }
  .title {
    text-align: left;
    .fas {
      color: $orange;
    }
  }
}
.contacts__header {
  margin-bottom: 30px;
}
.contacts {
  .item {
    width: 50%;
  }
  .contacts__list {
    line-height: 2;
  }
}
.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2%;
  width: 100%;
  .item {
    width: 31.3%;
    margin: 0 0 2% 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .img {
      @extend .duration;
      border: 1px solid $light-grey;
      box-shadow: 0 0 8px 1px rgba(#000, 0);
      width: 100%;
      height: 230px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-height: 100%;
      }
    }
    .text {
      @extend .duration;
      color: grey;
      padding: 5px 5px 10px;
      text-align: center;
    }
    &:hover {
      .img {
        border-color: $blue;
        box-shadow: 0 0 8px 1px rgba(#000, .2);
      }
      .text {
        color: $blue;
      }
    }
  }
}
.product {
  .img {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .text {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
.product-wrapper {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  .custom-select {
    padding: 10px;
    margin-bottom: 20px;
    width: 362px;
  }
  .btn {
    margin-bottom: 30px;
  }
  .more {
    color: $blue;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.aside__menu {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  .menu-item {
    &:not(:last-of-type) {
      border-bottom: 1px solid #dadada;
    }
    a {
      display: block;
      padding: 10px 0;
      @extend .duration;
      &:hover {
        color: $blue;
        &:after {
          color: $orange;
        }
      }
    }
  }
  .sub-menu {
    padding-left: 20px;
    font-size: 14px;
    .menu-item {
      border-bottom: none;
    }
  }
}

@import "responsive";