
$blue: #1FA9E6;
$orange: #FF8800;
$black: #2c2f33;
.duration {
  transition: all .2s linear 0s;
}
body {
  color: $black;
  font: {
    family: "Open Sans", sans-serif;
  };
}
.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 1200px;
}
.logo {
  img {
    height: 60px;
    width: auto;
  }
}
.header-top {
  padding: 25px 0;
}
.header__contacts-list {
  .fas, .far {
    color: $orange;
    width: 20px;
  }
  .item {
    &:first-of-type {
      margin-bottom: 5px;
    }
    a {
      color: $black;
      @extend .duration;
      &:hover {
        color: $orange;
      }
      &:before {}
      margin: 0 auto;
    }
  }
}
.header-nav {
  height: 60px;
  background: $blue;
  color: #fff;
  display: flex;
  align-items: center;
}
.cart {
  font-size: 30px;
  color: $black;
}
